* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header h1 {
  text-align: center;
}

main {
  width: 80%;
  border: 1px solid red;
  margin: 50px auto;
  padding: 10px;
}

#section-carta {
  border: 1px solid blue;
}